body {
    margin: 2vh;
}
.shaft {
    box-sizing: border-box;
    height: 96vh;
    background-color: lightpink;
    width: 10vw;
    border: 1px solid #282c34;

    display: flex;
    flex-direction: column-reverse;
}
.elevator {
    background-color: lightcyan;
    height: 19vh;
}

.container {
    display: flex;
}
.buttons {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 20px;
}
.buttons button {
    background-color: orange;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px dashed purple;
    cursor: pointer;
}
.button-wrapper {
    height: 19vh;
}

